/*BEGINNING OF GOSPEL BUTTON*/
.gospel-button-icon{
	position: relative;
	text-align: center;
	top:10px;
	font-size: 25px;
}

.gospel-button{
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 99999;
	margin: 10px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
    background-color: #007bff;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.3);
}
.gospel-button:active{
	width: 48px;
	height: 48px;
    background-color: #007bff;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}
/*END OF GOSPEL BUTTON*/
